# Minimal Prometheus deployment using community prom image for demo
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  namespace: perf-test
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus:latest
          args:
            - --config.file=/etc/prometheus/prometheus.yml
          volumeMounts:
            - name: prom-config
              mountPath: /etc/prometheus
      volumes:
        - name: prom-config
          configMap:
            name: prometheus-config
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: perf-test
data:
  prometheus.yml: |
    global:
      scrape_interval: 5s
    scrape_configs:
      - job_name: 'jmeter'
        static_configs:
          - targets: ['jmeter-master:9270','jmeter-worker:9270']
      - job_name: 'spring-app'
        metrics_path: /actuator/prometheus
        static_configs:
          - targets: ['spring-api:8080']
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: perf-test
spec:
  selector:
    app: prometheus
  ports:
    - port: 9090
      targetPort: 9090
